@font-face {
    font-family: 'sailecblack_italic';
    src: url('fonts/type_dynamic_-_sailec_black_italic-webfont.woff2') format('woff2'),
    url('fonts/type_dynamic_-_sailec_black_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'sailecblack';
    src: url('fonts/type_dynamic_-_sailec_black-webfont.woff2') format('woff2'),
    url('fonts/type_dynamic_-_sailec_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'sailecbold_italic';
    src: url('fonts/type_dynamic_-_sailec_bold_italic-webfont.woff2') format('woff2'),
    url('fonts/type_dynamic_-_sailec_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'sailecbold';
    src: url('fonts/type_dynamic_-_sailec_bold-webfont.woff2') format('woff2'),
    url('fonts/type_dynamic_-_sailec_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'sailechairline_italic';
    src: url('fonts/type_dynamic_-_sailec_hairline_italic-webfont.woff2') format('woff2'),
    url('fonts/type_dynamic_-_sailec_hairline_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'sailechairline';
    src: url('fonts/type_dynamic_-_sailec_hairline-webfont.woff2') format('woff2'),
    url('fonts/type_dynamic_-_sailec_hairline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'saileclight_italic';
    src: url('fonts/type_dynamic_-_sailec_light_italic-webfont.woff2') format('woff2'),
    url('fonts/type_dynamic_-_sailec_light_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'saileclight';
    src: url('fonts/type_dynamic_-_sailec_light-webfont.woff2') format('woff2'),
    url('fonts/type_dynamic_-_sailec_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'sailecmedium_italic';
    src: url('fonts/type_dynamic_-_sailec_medium_italic-webfont.woff2') format('woff2'),
    url('fonts/type_dynamic_-_sailec_medium_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'sailecmedium';
    src: url('fonts/type_dynamic_-_sailec_medium-webfont.woff2') format('woff2'),
    url('fonts/type_dynamic_-_sailec_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'sailecregular_italic';
    src: url('fonts/type_dynamic_-_sailec_regular_italic-webfont.woff2') format('woff2'),
    url('fonts/type_dynamic_-_sailec_regular_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'sailecthin_italic';
    src: url('fonts/type_dynamic_-_sailec_thin_italic-webfont.woff2') format('woff2'),
    url('fonts/type_dynamic_-_sailec_thin_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'sailecthin';
    src: url('fonts/type_dynamic_-_sailec_thin-webfont.woff2') format('woff2'),
    url('fonts/type_dynamic_-_sailec_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'sailecregular';
    src: url('fonts/type_dynamic_-_sailec-webfont.woff2') format('woff2'),
    url('fonts/type_dynamic_-_sailec-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
:root {
    --body-color: #ffffff;
    --title-color: #151442;
    --text-color: #151442;
    --link-color: #151442;
    --link-color-hover: #151442;
}
html, body {
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--body-color);
    color: var(--text-color);
    font-family: 'sailecregular';
    font-weight: normal;
    font-size: 16px;
    opacity: 0;
    overflow-x: hidden;
    transition: all .3s ease-in;
    transition-delay: .2s;
}
body.is-loaded {
    opacity: 1;
}
body:before {
    transition: all .3s ease;
}
* {
    box-sizing: border-box;
}
:focus {
    outline: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'sailecbold';
    font-weight: normal;
    color: var(--title-color);
    line-height: 1.1;
    margin: 0 0 25px;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 23px;
}
h3 {
    font-size: 22px;
}
h4 {
    font-size: 21px;
}
h5 {
    font-size: 20px;
}
h6 {
    font-size: 19px;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
a {
    color: var(--link-color);
    outline: 0;
    text-decoration: none;
    transition: color .3s;
}
a:active,
a:focus,
a:visited {
    outline: none;
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
bdo {
    direction: ltr;
}
p {
    margin: 0 0 25px;
    word-break: break-word;
}
.l-btn {
    font-size: 17px;
    min-width: 189px;
    border-radius: 48px;
    border: 1px solid #102421;
    display: inline-block;
    text-align: center;
    padding: 19px 26px;
    transition: all .1s ease-in;
}
.l-btn i {
    display: inline-block;
    margin-left: 28px;
}
.l-btn:hover {
    background-color: #102421;
    color: #ffffff;
}
.l-btn:hover svg path {
    fill: #ffffff;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding: 0 20px;
}
@media (min-width: 768px) {
    .container {
        padding: 0 50px;
    }
}
@media (min-width: 992px) {
    .container {
        padding: 0 63px 0 80px;
    }
}
@media (min-width: 1199px) {
    .container {
        padding: 0 83px 0 100px;
    }
}
.header {
    padding: 24px 0;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    transition: padding .3s ease-in;
}
.header__logo {
    margin: 0;
}
.header--fixed {
    background-color: #ffffff;
    box-shadow: 0 5px 10px 0 rgb(4 0 98 / 5%);
    padding: 14px 0;
}
.header__logo svg path {
    transition: fill .3s ease-in;
}
.header--fixed .header__logo svg path {
    fill: var(--link-color);
}
.header__nav li a {
    font-family: 'sailecregular';
    font-size: 14px;
}
.header__link li {
    display: inline-block;
    margin-left: 20px;
}
li.header__cart a {
    position: relative;
    padding-left: 27px;
    display: block;
}
li.header__cart a span.cart-badge {
    position: absolute;
    left: 0;
    transform: translateY(-50%);
    top: 50%;
    margin-top: 4px;
}
span.cart-badge {
    height: 19px;
    width: 19px;
    background-color: #151442;;
    border-radius: 50%;
    line-height: 19px;
    text-align: center;
    font-family: Helvetica Neue;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    display: inline-block;
    color: #ffffff;
}
.header__link {
    margin-top: 3px;
}
.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__burger button {
    background: transparent;
    border: 0;
    cursor: pointer;
    display: block;
    width: 24px;
    height: 24px;
    padding: 0;
    outline: none;
}
.icon-bar {
    border-radius: 100px;
    background-color: var(--title-color);
    display: block;
    width: 26px;
    height: 2px;
}
.icon-bar + .icon-bar {
    margin-top: 3px;
}
nav.header__nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 280px;
    background-color: #fff;
    height: 100vh;
    overflow: auto;
    transition: left .3s ease-in;
    z-index: 4;
}
.header__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 3;
    opacity: 0;
    transition: opacity .3s ease-in, left .3s ease-in;
    transition-delay: .3s;
}
.is-open .header__overlay {
    left: 0;
    opacity: 1;
}
.is-open nav.header__nav {
    left: 0;
}
nav.header__nav li a {
    padding: 15px 20px;
    border-bottom: 1px solid var(--link-color);
    display: block;
}
nav.header__nav li a:hover {
    opacity: 0.6;
}
@media (min-width: 1260px) {
    nav.header__nav {
        background-color: transparent;
        position: static;
        width: auto;
        height: auto;
        overflow: inherit;
    }
    .is-open .header__overlay {
        opacity: 0;
    }
    .header__link li {
        margin-left: 52px;
    }
    nav.header__nav li {
        margin-left: 34px;
        display: inline-block;
    }
    .header__block {
        display: flex;
        align-items: center;
        margin-top: -1px;
    }
    .header__link {
        margin-left: 34px;
    }
    .header__link li.header__burger {
        display: none;
    }
    nav.header__nav li a {
        padding: 0;
        border-bottom: 0;
    }
    .header {
        padding: 35px 0;
    }
    .header--fixed {
        padding: 25px 0;
    }
}
.banner__block {
    background-color: #102421;
    margin: -25px 14px 60px;
    position: relative;
    z-index: 1;
}
.banner__wrap {
    position: relative;
}
.banner__content {
    color: #ffffff;
}
.banner__content {
    padding: 35px 15px;
}
.banner__tag {
    font-size: 14px;
    font-style: normal;
    letter-spacing: 0.5em;
    margin-bottom: 16px;
    display: block;
}
.banner__content h1 {
    font-size: 38px;
    color: #ffffff;
    line-height: 1.2;
    margin-bottom: 34px;
}
.banner__content p {
    font-size: 18px;
    max-width: 309px;
    line-height: 1.2;
}
.banner__cta .l-btn {
    background-color: #c7e1bf;
    font-size: 14px;
    color: #102421;
    margin-right: 19px;
    display: inline-block;
    margin-bottom: 10px;
    min-width: 1px;
    padding: 19px 27px;
}
.banner__cta {
    margin-top: 40px;
    margin-left: -4px;
}
@media (min-width: 640px) {
    .banner__block {
        margin: -35px 20px 60px;
    }
    .banner__content h1 {
        font-size: 48px;
    }
    .banner__content {
        padding: 45px 20px;
    }
}
@media (min-width: 768px) {
    .banner__block {
        margin: -40px 20px 60px;
    }
    .banner__content h1 {
        font-size: 58px;
    }
    .banner__content {
        padding: 65px 40px;
    }
}
@media (min-width: 800px) {
    .banner__block {
        margin: 0;
    }
    .banner__content h1 {
        font-size: 60px;
        margin-bottom: 44px;
    }
    .banner__content p {
        font-size: 20px;
    }
    .banner__cta .l-btn {
        margin-right: 25px;
    }
    .banner__cta {
        margin-top: 93px;
    }
    .banner__block {
        width: calc(100% - 360px + 83px);
        transition: width .3s ease-in;
    }
    .banner__figure {
        position: absolute;
        top: 0;
        right: 1px;
        margin-top: 137px;
        width: 360px;
        z-index: 2;
        transition: width .3s ease-in;
    }
    .banner__wrap {
        margin-right: 50px;
    }
    .banner__content {
        padding-left: 50px;
        padding-top: 162px;
        padding-bottom: 162px;
    }
}
@media (min-width: 991px) {
    .banner__wrap {
        margin-right: 73px;
    }
    .banner__content {
        padding-left: 100px;
    }
    .banner__block {
        width: calc(100% - 400px + 73px);
    }
    .banner__figure {
        width: 400px;
    }
}
@media (min-width: 1199px) {
    .banner__block {
        width: calc(100% - 460px + 83px);
    }
    .banner__wrap {
        margin-right: 83px;
    }
    .banner__figure {
        width: 460px;
    }
    .banner__content {
        padding-left: 120px;
    }
}
@media (min-width: 1260px) {
    .banner__block {
        width: calc(100% - 520px + 83px);
    }
    .banner__content h1 {
        font-size: 68px;
        margin-bottom: 53px;
    }
    .banner__content p {
        font-size: 22px;
        max-width: 469px;
    }
    .banner__figure {
        width: 520px;
    }
    .banner__content {
        color: #ffffff;
        padding-left: 157px;
        padding-top: 252px;
        padding-bottom: 232px;
    }
    .banner__cta .l-btn {
        margin-right: 46px;
    }
}
@media (min-width: 1360px) {
    .banner__block {
        width: calc(100% - 620px + 83px);
    }
    .banner__content p {
        font-size: 22px;
        max-width: 469px;
    }
    .banner__figure {
        width: 620px;
    }
    .banner__content {
        color: #ffffff;
        padding-left: 157px;
        padding-top: 252px;
        padding-bottom: 242px;
    }
    .banner__content h1 {
        font-size: 78px;
    }
}
@media (min-width: 1460px) {
    .banner__block {
        width: calc(100% - 706px + 83px);
    }
    .banner__figure {
        width: 706px;
    }
    .banner__content {
        color: #ffffff;
        padding-left: 187px;
        padding-top: 295px;
    }
}
@media (min-width: 1660px) {
    .banner__content h1 {
        font-size: 88px;
    }
    .banner__block {
        width: calc(100% - 768px + 83px);
    }
    .banner__figure {
        width: 806px;
    }
    .banner__content {
        color: #ffffff;
        padding-left: 227px;
    }
}
.section-header h2 {
    font-family: 'sailecmedium';
    font-size: 36px;
    margin: 0;
}
.section-header {
    text-align: center;
    position: relative;
    max-width: 1474px;
    margin: 0 auto 57px;
    left: -3px;
}
.section-header .l-btn {
    margin-top: 30px;
}
@media (min-width: 640px) {
    .section-header h2 {
        font-size: 40px;
    }
}
@media (min-width: 800px) {
    .section-header h2 {
        font-size: 50px;
    }
    .section-header {
        margin: 0 auto 67px;
    }
}
@media (min-width: 991px) {
    .section-header h2 {
        font-size: 55px;
    }
    .section-header .l-btn {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        margin-top: 3px;
        padding-bottom: 17px;
    }
}
@media (min-width: 1260px) {
    .section-header h2 {
        font-size: 60px;
    }
    .section-header {
        margin: 0 auto 87px;
    }
}
@media (min-width: 1360px) {
    .section-header h2 {
        font-size: 70px;
    }
    .section-header {
        margin: 0 auto 97px;
    }
}
@media (min-width: 1660px) {
    .section-header h2 {
        font-size: 80px;
    }
    .section-header {
        margin: 0 auto 112px;
    }
    .section--tablets .section-header {
        left: -2px;
    }
}
.section--products {
    padding-top: 42px;
    margin-bottom: 55px;
}
@media (min-width: 640px) {
    .section--products {
        padding-top: 62px;
        margin-bottom: 75px;
    }  
}
@media (min-width: 768px) {
    .section--products {
        padding-top: 82px;
        margin-bottom: 95px;
    }  
}
@media (min-width: 991px) {
    .section--products {
        padding-top: 102px;
        margin-bottom: 115px;
    }  
}
@media (min-width: 1260px) {
    .section--products {
        padding-top: 122px;
        margin-bottom: 135px;
    }  
}
@media (min-width: 1460px) {
    .section--products {
        padding-top: 142px;
        margin-bottom: 155px;
    }  
}
@media (min-width: 1660px) {
    .section--products {
        padding-top: 162px;
        margin-bottom: 175px;
    }  
}
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1541px;
    margin: 0 auto;
}
.product {
    text-align: center;
}
.product h3 {
    color: #151442;
    font-size: 26px;
    margin-left: -13px;
    margin-bottom: 31px;
}
.product h5 {
    color: #8F9095;
    font-family: 'saileclight';
    font-size: 14px;
    margin-left: -16px;
    margin-bottom: 29px
}
.product p {
    color: #8F9095;
    font-size: 16px;
    line-height: 24px;
    left: -9px;
    position: relative;
    margin: 0 auto;
}
.product-item {
    padding: 0 11px;
    width: 100%;
}
@media (min-width: 768px) {
    .product-item {
        width: calc(100% / 2);
    }
    .product p {
        max-width: 59%;
    }
    .product h3 {
        font-size: 30px;
    }
}
@media (min-width: 1199px) {
    .product-item {
        width: calc(100% / 4);
    }
    .product h3 {
        font-size: 36px;
    }
}
.product figure {
    margin: 0;
    position: relative;
}
.product figure img {
    margin: 0 auto;
}
.product__link {
    position: absolute;
    width: 82px;
    height: 82px;
    top: 50%;
    background-color: #102421;
    text-align: center;
    border-radius: 50%;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'saileclight';
    margin-top: -82px;
    right: 73px;
    display: flex;
    align-items: center;
    line-height: 1.6;
    opacity: 0;
    transition: opacity .3s ease-in;
}
.product article {
    padding: 38px 0;
}
.product:hover .product__link{
    opacity: 1;
}

.testimonial__header .l-link {
    font-size: 14px;
    color: #fff;
    border-bottom: 1px solid #fff;
    margin-left: 4px;
}
.testimonial__header .l-link:hover {
    color: var(--title-color);
    border-color: var(--title-color);
}
.testimonial__content {
    position: relative;
    padding-top: 58px;
    padding-bottom: 53px;
    padding-left: 22px;
}
.testimonial__content:after,
.testimonial__content:before {
    content: '';
    background-image: url(../images/icon-quote.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 44px;
    height: 37px;
    position: absolute;
}
.testimonial__content:before {
    top: 0;
    left: 0;
}
.testimonial__content:after {
    bottom: 36px;
    right: -6px;
    transform: scale(-1, 1);
}
.testimonial__author h5 {
    font-family: 'sailecmedium';
    color: #454545;
    font-size: 22px;
    margin-bottom: 7px;
}
.testimonial__author p {
    font-family: 'saileclight';
    color: #454545;
    font-size: 16px;
    margin: 0;
}
.testimonial__header {
    padding-top: 42px;
    margin-bottom: 45px;
}
.section--testimonial {
    padding-top: 45px;
    padding-bottom: 44px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.testimonial__block {
    background-color: #ffffff;
    padding: 30px 20px;
    max-width: 800px;
}
.testimonial__header h2 {
    color: #ffffff;
    font-family: 'sailecmedium';
    font-size: 36px;
    max-width: 700px;
    line-height: 1.2;
    margin-bottom: 39px;
}
.testimonial__block h3 {
    font-family: 'sailecmedium';
    color: #342B42;
    font-size: 26px;
    line-height: 35px;
    margin: 0;
}
.testimonial__author {
    padding-left: 37%;
}
@media (min-width: 768px) {
    .testimonial__header h2 {
        font-size: 40px;
        margin-bottom: 59px;
    }
    .testimonial__block h3 {
        font-size: 30px;
        line-height: 45px;
    }
}
@media (min-width: 1199px) {
    .testimonial__author {
        padding-left: 67%;
    }
    .testimonial {
        display: flex;
        justify-content: space-between;
    }
    .testimonial__header {
        padding-top: 132px;
        margin-left: -4px;
        margin-bottom: 0;
        margin-right: 30px;
    }
    .section--testimonial {
        padding-top: 115px;
        padding-bottom: 114px;
    }
    .testimonial__block {
        background-color: #ffffff;
        padding: 70px 43px;
        max-width: 800px;
    }
    .testimonial__header h2 {
        font-size: 60px;
        margin-bottom: 89px;
    }
    .testimonial__block h3 {
        font-size: 40px;
        line-height: 55px;
    }
    .testimonial__content {
        padding-left: 44px;
        padding-right: 20px;
    }
}
@media (min-width:1360px) {
    .testimonial__header {
        padding-top: 162px;
    }
    .section--testimonial {
        padding-top: 145px;
        padding-bottom: 144px;
    }
    .testimonial__block {
        padding: 90px 63px;
    }
    .testimonial__header h2 {
        font-size: 70px;
        margin-bottom: 119px;
    }
    .testimonial__block h3 {
        font-size: 50px;
        line-height: 75px;
    }
}
@media (min-width:1460px) {
    .testimonial__header h2 {
        font-size: 80px;
    }
}
.product-slider .slick-list {
    padding: 0 !important;
}
.slick-arrow {
    background-image: url(../images/icon-slider.svg);
    background-color: transparent;
    width: 52px;
    height: 52px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    border: 0;
    text-indent: -999em;
    margin-top: 25px;
    cursor: pointer;
}
button.slick-next {
    right: 7px;
}
button.slick-prev {
    left: 7px;
    transform: translateY(-50%) rotate(180deg);
}
button.slick-disabled {
    opacity: 0;
}
.product--tablet article {
    padding: 64px 0;
}
.product--tablet h3 {
    margin-left: 2px;
    margin-bottom: 32px;
}
.product--tablet h5 {
    margin-left: 0;
    margin-bottom: 30px;
}
.product--tablet p {
    max-width: 215px;
    left: 0;
}
ul.slick-dots li {
    background: #DFDFDF;
    flex: 1;
    padding: 0;
    height: 1px;
    position: relative;
}
ul.slick-dots li.slick-active:after {
    content: '';
    background-color: #000000;
    width: 59px;
    position: absolute;
    left: 52px;
    top: 0px;
    height: 1px;
    z-index: 1;
}
ul.slick-dots button {
    font-size: 0;
    border: 0;
    padding: 0;
    background: 0;
    margin: 0;
}
.product-slider {
    margin-left: 15px;
    position: relative;
    overflow: hidden;
}
.product-slider .product-item {
    margin-right:15px;
    padding: 0;
}
ul.slick-dots {
    display: flex;
    margin-right: 15px;
    margin-top: 33px;
}
.product-slider {
    margin-left: 15px;
}
.product-slider .product-item {
    margin-right:15px;
}
ul.slick-dots {
    margin-right: 15px;
}
@media (min-width: 768px) {
    .product-slider {
        margin-left: 50px;
    }
    .product-slider .product-item {
        margin-right:20px;
    }
    ul.slick-dots {
        margin-right: 50px;
    }
}
@media (min-width: 992px) {
    .product-slider {
        margin-left: 80px;
    }
    .product-slider .product-item {
        margin-right:25px;
    }
    ul.slick-dots {
        margin-right: 63px;
    }
}
@media (min-width: 1199px) {
    .product-slider {
        margin-left: 100px;
    }
    .product-slider .product-item {
        margin-right:67px;
        width: 432px !important;
    }
    ul.slick-dots {
        margin-right: 83px;
    }
}
.section--tablets {
    padding-top: 42px;
    margin-bottom: 55px;
}
.section--benifits {
    margin-bottom: 85px;
}
.section--benifits .section-header {
    left: 0;
}
@media (min-width: 640px) {
    .section--tablets {
        padding-top: 62px;
        margin-bottom: 75px;
    } 
    .section--benifits {
        margin-bottom: 115px;
    } 
}
@media (min-width: 768px) {
    .section--tablets {
        padding-top: 82px;
        margin-bottom: 95px;
    }  
    .section--benifits {
        margin-bottom: 135px;
    }
}
@media (min-width: 991px) {
    .section--tablets {
        padding-top: 102px;
        margin-bottom: 115px;
    }  
    .section--benifits {
        margin-bottom: 165px;
    }
}
@media (min-width: 1260px) {
    .section--tablets {
        padding-top: 122px;
        margin-bottom: 135px;
    } 
    .section--benifits {
        margin-bottom: 185px;
    } 
}
@media (min-width: 1460px) {
    .section--tablets {
        padding-top: 142px;
        margin-bottom: 155px;
    } 
    .section--benifits {
        margin-bottom: 205px;
    } 
}
@media (min-width: 1660px) {
    .section--tablets {
        padding-top: 162px;
        margin-bottom: 161px;
    }
    .section--benifits {
        margin-bottom: 255px;
    } 
}
.benefits-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.benefits-item {
    width: 100%;
    margin-bottom: 90px;
}
@media (min-width: 768px) {
    .benefits-item {
        padding: 0 12px;
        width: calc(100%/3);
        max-width: 402px;
        margin: 0;
    }
}
.benefits {
    text-align: center;
}
.benefits img {
    margin: 0 auto 66px;
}
.benefits p {
    font-family: 'sailecmedium';
    margin: 0 auto;
    font-size: 18px;
    line-height: 27px;
    max-width: 256px;
}
.footer {
    background-color: #0F2421;
}
.footer__wrap {
    position: relative;
    padding: 83px 0;
}
.back-top {
    position: absolute;
    top: 54px;
    right: 0;
    cursor: pointer;
}
.footer__wrap h5 {
    font-family: 'sailecmedium';
    color: #ffffff;
    font-size: 18px;
}
.footer__nav li {
    margin-bottom: 18px;
}
.footer__nav a {
    color: #ffffff;
    font-size: 14px;
}
.footer__nav a:hover {
    opacity: 0.6;
}
.footer__address p {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 0;
}
.footer__address p a {
    color: #ffffff;
}
.footer__address p a:hover {
    opacity: 0.6;
}
.footer__address p span {
    display: block;
    margin-bottom: 9px;
}
.footer__content h3 {
    color: #ffffff;
    font-family: 'sailecmedium';
    font-size: 40px;
    max-width: 500px;
    margin-bottom: 59px;
}
.footer__content p {
    color: #ffffff;
    font-size: 14px;
    margin: 0;
    line-height: 1;
    display: flex;
}
.footer__content p i {
    font-size: 22px;
    font-style: normal;
    margin-right: 3px;
}
.footer__content p span {
    margin-right: 9px;
}
.footer__nav,
.footer__address {
    margin-bottom: 50px;
}
.footer__nav h5 {
    margin-bottom: 50px;
}
.footer__address h5 {
    margin-bottom: 45px;
}
@media (min-width: 640px) {
    .footer__block {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .footer__content h3 {
        font-size: 48px;
    }
}
@media (min-width: 991px) {
    .footer__wrap {
        padding: 102px 0;
        display: flex;
        flex-direction: row-reverse;
    }
    .footer__content {
        flex: 1;
    }
    .footer__nav {
        min-width: 256px;
        margin-top: 13px;
    }
    .footer__address {
        min-width: 371px;
        margin-top: 13px;
    }
    .footer__content h3 {
        font-size: 58px;
        line-height: 73px;
    }
    .footer__block {
        display: block;
    }
}
@media (min-width: 1199px) {
    .footer__wrap {
        padding: 142px 0;
    }
    .footer__content h3 {
        font-size: 88px;
        line-height: 103px;
    }
}
@media (min-width: 1260px) {
    .footer__block {
        display: flex;
        flex-direction: row-reverse;
    }
}